{{!
	Copyright 2022 ForgeRock AS. All Rights Reserved
  
    Use of this code requires a commercial software license with ForgeRock AS.
    or with one of its affiliates. All use shall be exclusively subject
    to such license between the licensee and ForgeRock AS.
}}
<!-- Base Details panel -->
<div class="panel panel-default panel-collapse" id="awsConnector">
    <div class="panel-heading" role="tab" id="connectorSpecificBaseHeading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#connectorSpecificBase" aria-expanded="true" aria-controls="connectorSpecificBase"
                class="">{{t "templates.connector.baseTitle"}}</a>
        </h4>
    </div>
    <div id="connectorSpecificBase" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="connectorSpecificBaseHeading"
        aria-expanded="true">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="accessKeyId">{{t "templates.connector.aws.accessKeyId"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" data-validator="required" type="text" id="accessKeyId" name="configurationProperties.accessKeyId"
                        value="{{connectorDefaults.configurationProperties.accessKeyId}}" />
                    <span class='help-block'>{{t "templates.connector.aws.accessKeyIdHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="secretKey">{{t "templates.connector.aws.secretKey"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" data-validator="required" type="text" id="secretKey" name="configurationProperties.secretKey"
                        value="{{connectorDefaults.configurationProperties.secretKey}}" />
                    <span class='help-block'>{{t "templates.connector.aws.secretKeyHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="roleArn">{{t "templates.connector.aws.roleArn"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" data-validator="required" type="text" id="roleArn" name="configurationProperties.roleArn"
                        value="{{connectorDefaults.configurationProperties.roleArn}}" />
                    <span class='help-block'>{{t "templates.connector.aws.roleArnHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="region">{{t "templates.connector.aws.region"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" data-validator="required" type="text" id="region" name="configurationProperties.region" value="{{connectorDefaults.configurationProperties.region}}" />
                    <span class='help-block'>{{t "templates.connector.aws.regionHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="pageSize">{{t "templates.connector.aws.pageSize"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="pageSize" name="configurationProperties.pageSize" value="{{connectorDefaults.configurationProperties.pageSize}}" />
                    <span class='help-block'>{{t "templates.connector.aws.pageSizeHelp"}}</span>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label" for="credentialsExpiration">{{t "templates.connector.aws.credentialsExpiration"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="credentialsExpiration" name="configurationProperties.credentialsExpiration" value="{{connectorDefaults.configurationProperties.credentialsExpiration}}" />
                    <span class='help-block'>{{t "templates.connector.aws.credentialsExpirationHelp"}}</span>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label" for="proxyHost">{{t "templates.connector.aws.proxyHost"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="proxyHost" name="configurationProperties.proxyHost" value="{{connectorDefaults.configurationProperties.proxyHost}}" />
                    <span class='help-block'>{{t "templates.connector.aws.proxyHostHelp"}}</span>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label" for="proxyPort">{{t "templates.connector.aws.proxyPort"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="proxyPort" name="configurationProperties.proxyPort" value="{{connectorDefaults.configurationProperties.proxyPort}}" />
                    <span class='help-block'>{{t "templates.connector.aws.proxyPortHelp"}}</span>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label" for="proxyUsername">{{t "templates.connector.aws.proxyUsername"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="proxyUsername" name="configurationProperties.proxyUsername" value="{{connectorDefaults.configurationProperties.proxyUsername}}" />
                    <span class='help-block'>{{t "templates.connector.aws.proxyUsernameHelp"}}</span>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label" for="proxyPassword">{{t "templates.connector.aws.proxyPassword"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="proxyPassword" name="configurationProperties.proxyPassword" value="{{connectorDefaults.configurationProperties.proxyPassword}}" />
                    <span class='help-block'>{{t "templates.connector.aws.proxyPasswordHelp"}}</span>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label" for="connectionTimeout">{{t "templates.connector.aws.connectionTimeout"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="connectionTimeout" name="configurationProperties.connectionTimeout" value="{{connectorDefaults.configurationProperties.connectionTimeout}}" />
                    <span class='help-block'>{{t "templates.connector.aws.connectionTimeoutHelp"}}</span>
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label" for="maxConnections">{{t "templates.connector.aws.maxConnections"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="maxConnections" name="configurationProperties.maxConnections" value="{{connectorDefaults.configurationProperties.maxConnections}}" />
                    <span class='help-block'>{{t "templates.connector.aws.maxConnectionsHelp"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
