{{!--
  Copyright 2022 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}
<div id="reconConfirmationDialog">
  <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
      <label>
          <input value="true" id="persistAssociationsToggle" type="checkbox"><span></span>
      </label>
      <span class="text-muted">{{t "templates.mapping.persistAssociations"}}</span>
  </div>
</div>
